<footer class="footerhome">
    <div class="grid-footer">
        <div class="grid-row" style="background-color: #f0f0f0;">
            <div class="logo-address row-address">
                <div>
                    <img class="img-logo" src="assets/footerlogo.png" alt="">
                    <ul class="footer-list">
                        <li class="info-address footer-list-item">
                            <p class="info-address">Công ty TNHH TMDV & Truyền thông TYM</p>
                        </li>
                        <li class="footer-list-item">
                            <p class="info-address">ĐKKD số: 0316649418 Do Sở KH & ĐT Tp.HCM cấp ngày 04/01/2021</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contact">
                <h3 class="footer-heading">LIÊN HỆ</h3>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <i class="icon-web fa-solid fa-globe"></i>
                        <a class="footer-item-link" href="">Website: tymbook.vn</a>
                    </li>
                    <li class="footer-list-item">
                        <i class="icon-facebook fa-brands fa-square-facebook"></i>
                        <a class="footer-item-link" href="">
                            https://www.facebook.com/TymBookstore
                        </a>
                    </li>
                    <!-- <li class="footer-list-item">
                        <p>
                            <i class="icon-phone header-icon fa-solid fa-phone"></i>
                            0908627274
                        </p>
                    </li> -->
                    <li class="footer-list-item">
                        <img class="icon-zalo" src="assets/iconzalo.png" alt="" style="width: 30px; height: 30px;">
                        <a class="footer-item-link" href="">
                            0908627274
                        </a>

                    </li>
                    <li class="footer-list-item">
                        <i class="icon-email header-icon fa-solid fa-envelope"></i>
                        <a class="footer-item-link" href="">tymmedia.books&#64;.com</a>
                    </li>
                </ul>
            </div>
            <div class="support">
                <h3 class="footer-heading">HỖ TRỢ</h3>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a class="footer-item-link" href="">Chính sách bảo mật</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-item-link" href="">Bảo hành & đổi trả</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-item-link" href="">Giao hàng & vận chuyển</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-item-link" href="">Mua hàng & thanh toán</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- <div class="Copyright">
        <p>Copyright 2024 - 2019 © Bản Quyền Thuộc Về BizBooksStore | Designed By tavanhuyIT</p>
    </div> -->
</footer>