<div class="headerhome">
    <header class="header">
        <!-- <div class="grid-header"> -->
        <nav class="header-nav">
            <div class="header-link-right">
                <ul class="nav-list contact-list">
                    <li class="nav-list-item item-separate">
                        <i class="header-icon fa-solid fa-envelope email-contact"></i>
                        tymmedia.books&#64;.com
                    </li>
                    <li class="nav-list-item item-separate phone-number">
                        <i class="header-icon fa-solid fa-phone"></i>
                        +84 90862 72 74
                    </li>
                    <li class="nav-list-item facebook-contact">
                        <i class="header-icon fa-brands fa-facebook"></i>
                        https://www.facebook.com/TymBookstore
                    </li>

                </ul>
            </div>
            <div class="header-link-right">
                <ul class="nav-list id-user-list">
                    <li class="nav-list-item">
                        <a href="" class="item-link item-separate">Đăng ký</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="" class="item-link">Đăng nhập</a>
                    </li>
                </ul>

                <ul class="nav-list help-list">
                    <li class="nav-list-item">
                        <i class="header-icon fa-solid fa-bell"></i>
                        <a href="" class="item-link">Thông báo</a>
                    </li>
                    <li class="nav-list-item">
                        <i class="header-icon fa-regular fa-circle-question"></i>
                        <a href="" class="item-link">Trợ giúp</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- </div> -->

    </header>

    <div class="header-search">
        <div class="menu-search grid-header-search">
            <img class="header-logo" src="assets/logotymbook.png">
            <div class="search">
                <input class="search-input" type="text" placeholder="Nhập để tìm kiếm">
                <button class="search-btn">
                    <i class="search-btn-icon fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <ul class="language">
                <li class="language-item language-separate">VI</li>
                <li class="language-item">EN</li>
            </ul>
            <a class="icon-cart">
                <i class="cart fa-solid fa-cart-shopping"></i>
                <span class="title-cart" style="text-decoration: none;">
                    <a href="" style="color: #5c2e91; font-size: 1.1rem; text-decoration: none; ">Giỏ hàng</a>
                </span>
            </a>
        </div>
    </div>

</div>

<!-- <div class="menubar">
    <div class="grid-menu">
        <ul class="menu-list">
            <li class="menu-type-item">
                <a href="" class="menu-link">TẤT CẢ DANH MỤC</a>
            </li>
            <li class="menu-item menu" (mouseenter)="onMouseEnter1()" (mouseleave)="onMouseLeave1()">
                <a href="" class="menu-link">HỖ TRỢ</a>
                <i class="fa-solid fa-chevron-down icon-down"></i>
                <ul class="dropdown_menu" *ngIf="showDropDownMenu1">
                    <li class="dropdown_menu-item">
                        <a class="dropdown_menu-item-link" href="">Hướng Dẫn Đặt Hàng</a>
                    </li>
                    <li class="dropdown_menu-item">
                        <a class="dropdown_menu-item-link" href="">Phương Thức Thanh Toán</a>
                    </li>
                    <li class="dropdown_menu-item">
                        <a class="dropdown_menu-item-link" href="">Phương Thức Vận Chuyển</a>
                    </li>
                    <li class="dropdown_menu-item">
                        <a class="dropdown_menu-item-link" href="">Chính Sách Đổi Trả</a>
                    </li>
                    <li class="dropdown_menu-item">
                        <a class="dropdown_menu-item-link" href="">Chính Sách Bảo Mật</a>
                    </li>
                    <li class="dropdown_menu-item">
                        <a class="dropdown_menu-item-link" href="">Điều Khoản Sử Dụng</a>
                    </li>
                </ul>
            </li>



            <li class="menu-item">
                <a href="" class="menu-link">TIN SÁCH</a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">TỦ SÁCH</a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">KIẾN THỨC</a>
            </li>
            <li class="menu-item" (mouseenter)="onMouseEnter2()" (mouseleave)="onMouseLeave2()">
                <a href="" class="menu-link">SẢN PHẨM KHÁC</a>
                <i class="fa-solid fa-chevron-down icon-down"></i>
                <ul class="dropdown_menu-long" *ngIf="showDropDownMenu2">
                    <li class="dropdown_menu-item">
                        <a class="dropdown_menu-item-link" href="">Bút Chì Màu - Bút Lông màu - Sáp Màu</a>
                    </li>
                    <li class="dropdown_menu-item">
                        <a class="dropdown_menu-item-link" href="">Lưu Niệm - Quà Tặng</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">TUYỂN DỤNG</a>
            </li>

        </ul>

    </div>
</div> -->