

    /* Vị trí của các dropdown menu nằm dưới phần tử cha và canh theo lề trái của lớp cha */
    .dropdown_menu{
    position: absolute;
    top: 100%; /* nằm ngay dưới phần tử cha */
    left: 0; /* căn trái trùng với phần tử cha */
    /* margin: 0;              */
    padding: 0;
    list-style: none;
    background: #fff;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    z-index: 100;
    /* min-width: 190px; */
    border-radius: 0px 0px 0px 4px;
    overflow: hidden;
    width: max-content; /* Độ dài bằng với độ dài của nội dung */
    }

    .dropdown_menu-item {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-bottom: 1px solid #eee;
    }

    .dropdown_menu-item:hover {
    background-color: #f5f5f5;
    }


    .dropdown_menu-item-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #333;
    }

    .menu-item .dropdown_menu {
    text-align: left; /* Ghi đè text-align center của cha */
    }

    /* --- Ghi đè riêng cho mục "TẤT CẢ DANH MỤC" --- */
    .menu-type-item .dropdown_menu {
    width: 100% !important; /* bằng đúng chiều rộng phần tử cha */
    }

    .dropdown_menu-item:last-child {
    border-bottom: none;
    }


    /* ----------------------- */




    
    

    .menu-item{ 
        width: 145px;
        text-align: center;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .icon-down{
        margin-left: 5px;
        font-size: 12px;
        align-items: center;
    }

    .menu-type-item
    {
        display: flex;
        width: 250px;
        background-color: #5c2e91;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
    }
    /* ----------------------- */

    /* THUỘC TÍNH CSS CHO SLIDE VÀ GIAO DIỆN SÁCH */
    .swiper
    {
        width: 840px;
        margin-right: 8%;
        margin-left: 252px;
        height: 400px;
        
    }

      .menu-swiper
    {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .grid-menu-swiper
    {
        width: 65%;
        max-width: 100%;
    }