*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-home-page{
    margin-top: 136px;
}

/* MENU BAR */
.menu-bar{
    display: flex !important;
    width: 100%;
    background-color: #9500d1;
}

.row-menu{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
}

.menu-list{
    list-style: none;
    display: inline-flex;
    align-items: center;
    padding-left: 0px;
    width: 100%;
}


.menu-list,
.menu-link{
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.menu-link,
.menu-type-item{
    font-size: 16px;
}

.dropdown_menu-item-link{
    font-size: 15px;
}

.menu-type-item
{
    display: flex;
    width: 23%;
    background-color: #5c2e91;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
}

.icon-down{
    margin-left: 5px;
    font-size: 10px;
    align-items: center;
}

.menu-item {
    flex: 1;
    text-align: center;
    padding: 12px 10px;
    position: relative;
}

.menu-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 5px rgba(255,255,255,0.7);
}

.dropdown_menu_type{
    width: 23%;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    background:#f8f8f8;
    text-align: left;
    position: relative !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown_menu-item {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-bottom: 1px solid #eee;
}

.dropdown_menu-item:hover {
    background-color: #f5f5f5;
}

.dropdown_menu-item:last-child {
    border-bottom: none;
}

.dropdown_menu-item-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #333;
    text-align: left;
}

/* Vị trí của các dropdown menu nằm dưới phần tử cha và canh theo lề trái của lớp cha */
.dropdown_menu{
    position: absolute;
    top: 100%; /* nằm ngay dưới phần tử cha */
    left: 0; /* căn trái trùng với phần tử cha */
    padding: 0;
    list-style: none;
    background: #fff;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    z-index: 100;
    border-radius: 0px 0px 0px 4px;
    overflow: hidden;
    width: max-content; /* Độ dài bằng với độ dài của nội dung */
}

.menu-small{
    display: none;
}

.list-menu-small{
    display: none;
}
/*--------------------------------------------------------------------------*/
    
/* SWIPER MENU */
/* .row-swiper{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
} */



.swiper-menu{
    display: flex !important;
}

.swiper{
    flex: 1;
    position: relative !important;
}

.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 15px;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%; /* Đặt nút ở giữa theo chiều dọc */
    transform: translateY(-50%); /* Canh giữa theo chiều dọc */
    width: 40px;  /* Thay đổi kích thước nút */
    height: 40px; /* Thay đổi kích thước nút */
    background-color: rgb(255, 255, 255,0.7); /* Màu nền nút */
    color: gray;  /* Màu văn bản (mũi tên hoặc icon) */
    border-radius: 50%; /* Tạo hình tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Hiển thị con trỏ khi hover */
    z-index: 10; /* Đảm bảo nút không bị che khuất */
    font-weight: bold;
}

.swiper-button-next:hover, .swiper-button-prev:hover
{
    background-color: #9500d1;
    color: white;
}
/*--------------------------------------------------------------------------*/




















/* Kích thước của các phần tử con có vị trí dựa trên vị trí của phần tử cha */
/* .menu-list .menu-item,
.menu-list .menu-type-item {
    position: relative; 
} */

/* --- Ghi đè riêng cho mục "TẤT CẢ DANH MỤC" --- */
/* .menu-type-item .dropdown_menu {
    width: 100% !important;
} */


/* THUỘC TÍNH CSS CHO SLIDE VÀ GIAO DIỆN SÁCH */
/* 
.swiper-slide img {
width: 100%;
height: 100%;
object-fit: cover;
} */


/* Promotion books */
.promotion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(0,#ac0eeb,#bb24f7);
    margin-top: 100px;
    height: 550px;
}
/* .grid-books{
    width: 65%;
    max-width: 100%;
} */

.grid-row{
    display: flex;
    align-items: stretch;
    height: 100%;
    justify-content: space-between;
}

.promotion-item{
    list-style: none;
    display: inline-flex;
    align-items: center;
    padding-left: 0px;
    vertical-align: middle;
    width: 100%;
}

.promotion-book{
    width: 19.3%;
    /* height: 365px; */
    background-color: white;
    border-radius: 10px;
    /* padding: 1%; */
    text-align: center;
    box-shadow: 0 4px 6px #5c2e91;
}

.promotion-title{
    margin: 1% 0% 1% 0%;
    background-color: white;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px #5c2e91;
}

.title{
    margin: 1% 0% 1% 0%;
    background-color: white;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px #00000026;
}

.promo-title-item{
    display: inline-flex;
    color: #5c2e91;
    font-weight: bold; 
    font-size: 24px;
    margin: 0px;
    /* text-shadow: -1px 0 #cd6df3, 0 1px #cd6df3, 1px 0 #cd6df3, 0 -1px #cd6df3; */
    
}

.title-more{
    display: inline-flex;
    margin: 0px;
    color: #5c2e91;
    text-decoration: none;
}

.info-book{
    text-align: left;
    padding: 5px 10px 20px 20px;
}

.info-book-promotion{
    text-align: left;
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.img-book{
    width: 200px;
    /* height: 260px; */
    padding-top: 5px;
    padding-bottom: 5px;
}
.name-book{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600    ;
    margin: 0px;
}
.cost-book-promotion{
    color: #cd3237;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: bold;
    display: inline-block;
}
.cost-book{
    color: #cd3237;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: bold;
    display: inline-block;
}
.discount-value{
    display: inline-flex;
    align-items: center;
    height: 20px;
    margin-left: 10px;
    background-color: #c92127;
    color: white;
    font-weight: 600;
    font-size: 12px;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cost-discount-book{
    text-decoration: line-through; 
    font-size: 14px;
    color: #888888;
    margin-top: 2px;
}


/* Normal Books */
.book-type{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 490px;
}


.title-item{
    display: inline-flex;
    color: #5c2e91;
    font-weight: bold; 
    font-size: 24px;
    margin: 0px;
}
.books{
    width: 19.3%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px #00000026;
}




/* News */

.news{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(0,#ac0eeb,#bb24f7);
    margin-bottom: 60px;
    /* margin-top: 40px;

    padding-bottom: 50px;
    padding-top: 50px; */
}
.news-title{
    /* margin: 1% 0% 1% 0%;  */
    margin: 20px 0px 20px 0px;
    background-color: white;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 10px #5c2e91; */
}
.news-title-item{
    display: inline-flex;
    color: #5c2e91;
    font-weight: bold; 
    font-size: 22px;
    margin: 0px;
    text-shadow: -1px 0 #cd6df3, 0 1px #cd6df3, 1px 0 #cd6df3, 0 -1px #cd6df3;
}

.news-item{
    display: flex;
    background-color: white;
    padding: 20px 30px 20px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    /* max-height: 390px; */
}
.main-new{
    display: flex;
    width: 70%;
    gap: 2%;
}

.site-new{
    display: flex;
    width: 30%;
    flex-direction: column;
    max-height: 390px;
    overflow: auto;
}

.news-name{
    font-weight: 600;
    text-transform: uppercase;
}

.site-new .news-name{
    padding-left: 15px;
}

.news-img{
    width: 50%;
    border-radius: 5px;
}

.new-news-img{
    border-radius: 8px;
}

.site-news-title{
    width: 50%;
}

.site-news-title .news-name {
  display: -webkit-box;
  -webkit-line-clamp: 4;      /* Giới hạn 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.news-content{
    font-size: 15px;
}
.new-news{
    /* display: flex; */
    width: 40%;
    /* margin-right: 5%; */
    padding-right: 2%;
}

.grid-news-row-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    /* margin-top: 20px; */
}
.grid-news-row-list:last-child {
  margin-bottom: 0;
}


.menu-book-link{
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.row-swiper-news{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.row-homepage{
    max-width: 1200px;
    width: 100%;
    padding: 0px;
}







/* RESPONSIVE MENU AND SWIPER */

@media (max-width: 1650px) {
    .grid-menu{
        width: 75%;
    }
    .grid-menu-swiper
    {
        width: 75%;
        max-width: 100%;
        /* padding-right: 5%; */
    }
}

@media (max-width: 1520px) {
    .grid-menu-swiper
    {
        padding-right: 0%;
    }
}

@media (max-width: 1380px) {
    
}

@media (max-width: 1280px) {
    .grid-menu{
        width: 85%;
    }
    .grid-menu-swiper
    {
        width: 85%;
        max-width: 100%;
    }

    .row-homepage{
        width: 1100px;
    }

    .main-new{
        flex-direction: column;
        width: 70%;
        padding: 0px 30px 10px 0px;
    }
    .new-news{
        max-height: 80%;
        width: 100%;
        text-align: left;
    }
    .new-news-img{
        width: 100%;
        /* height: 80%; */
        /* object-fit: contain; */
        max-height: 80%;
    }

    .site-new{
        max-height: 100%;
    }
}

@media (max-width: 1180px){
    
    .grid-menu{
        width: 96%;
    }
    .grid-menu-swiper
    {
        width: 96%;
        max-width: 100%;
    }

    .row-homepage{
        width: 900px;
    }

    /* .promotion-book{
        width: 24%;
    } */

    .promo-title-item{
        font-size: 22px;
    }

    .img-book{
        width: 170px;
    }

    .name-book{
        font-size: 15px;
    }
    .cost-book-promotion{
        font-size: 15px;
    }
    .discount-value{
        font-size: 11px;
    }
    .cost-discount-book{
        font-size: 13px;
    }
    .info-book-promotion{
        padding-bottom: 10px;
    }
    .promotion{
        height: 480px;
    }

    .cost-book{
        width: 100%;
    }
    .info-book{
        padding-bottom: 15px;
    }

    .promotion-title{
        margin-bottom: 2%;
    }
        
    .title{
        margin-bottom: 2%;
    }
}

@media (max-width: 1020px){
    /* .menubar{
        display: none;
    } */
    .row-homepage{
        width: 800px;
    }
    .promotion-book{
        width: 24%;
    }
    .dropdown_menu_type{
        display: none;
    }
    .menu-swiper{
        margin-top: 10px;
    }

    .menu-type-item{
        display: none;
    }

    .menu-small{
        display: block;
    }

    .menu-small:hover .list-menu-small{
        cursor: pointer;
        display: block;

    }
    

    .books{
        width: 24%;
    }

}

@media (max-width: 900px){
    .menubar{
        display: none;
    }

    .menu-swiper{
        margin-top: 130px;
    }
}

@media (max-width: 900px){
    .menubar{
        display: none;
    }

    .menu-swiper{
        margin-top: 130px;
    }
}

@media (max-width: 850px){
    .row-homepage{
        width: 750px;
    }

    /* .promotion-book{
        width: 32%;
    } */
}

@media (max-width: 800px){
    .row-homepage{
        width: 720px;
    }
}

@media (max-width: 768px){
    .row-homepage{
        width: 690px;
    }

    .promo-title-item{
        font-size: 22px;
    }

    .img-book{
        width: 160px;
    }

    .title-item{
        font-size: 22px;
    }

}

@media (max-width: 720px){
    .row-homepage{
        width: 620px;
    }
    .promotion-book{
        width: 24%;
    }
    .promo-title-item{
        font-size: 22px;
    }

    .img-book{
        width: 135px;
    }

    .name-book{
        font-size: 14px;
    }
    .cost-book-promotion{
        font-size: 14px;
    }
    .discount-value{
        font-size: 11px;
    }
    .cost-discount-book{
        font-size: 13px;
        margin-top: 0px;
    }
    .info-book-promotion{
        padding-bottom: 10px;
        padding-left: 15px;
    }
    .promotion{
        height: 430px;
    }

    .cost-book{
        font-size: 14px;
    }
}

@media (max-width: 650px){
    .row-homepage{
        width: 550px;
    }
    .promotion-book{
        width: 32.5%;
    }
    .books{
        width: 32.5%;
    }
}

@media (max-width: 580px){
    .row-homepage{
        width: 490px;
    }
    .promotion-book{
        width: 32%;
    }

    .books{
        width: 32%;
    }
}

@media (max-width: 500px) {
        .row-homepage{
            width: 420px;
        }

        .promo-title-item{
            font-size: 20px;
        }
        .title-more{
            font-size: 14px;
        }

        .img-book{
            width: 125px;
        }

        .name-book{
            font-size: 13px;
        }
        .cost-book-promotion{
            font-size: 13px;
        }
        .discount-value{
            font-size: 10px;
        }
        .cost-discount-book{
            font-size: 12px;
        }
        .info-book-promotion{
            padding-bottom: 10px;
            padding-left: 13px;
        }
        .promotion{
            height: 400px;
        }

        .cost-book{
            font-size: 13px;
        }

        .promotion-title{
            margin-bottom: 4%;
        }
        
        .title{
            margin-bottom: 4%;
        }
}

/*--------------------------------------------------------------------------*/



























